{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link href="{{ SITEURL }}/theme/css/comunidade.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block bannertext %}
  <h1>{{ page.title }}</h1>
{% endblock %}

{% block navbar %}
  {% include "includes/navbar-home.html" %}
{% endblock %}

{% block content %}
<h2 class="center">Colaboradores y patrocinadores</h2>

<div class="container container-content">
  <div class="row center-align">
<div class="col s12 m8 offset-m2">
  <div class="card-image hoverable">
<img class="thumbnail responsive-img"  src="{{SITEURL}}/images/medicinab.jpeg" alt="Medicina Edificio B">
 <h4 class="card-title flow-text">Próximamente ...</h4>
 <br>
</div>

</div>
</div>
</div>

{% endblock %}
