{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link href="{{ SITEURL }}/theme/css/comunidade.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block bannertext %}
  <h1>{{ page.title }}</h1>
{% endblock %}

{% block navbar %}
  {% include "includes/navbar-home.html" %}
{% endblock %}

{% block content %}
<h2 class="center">Nuestro equipo  <i class="fa fa-user-md"></i></h2>

<div class="container container-content">
  <div class="row center-align">
  {% for section in COLABORADORES %}
    <div class="col s12 m4 icon-block">
    <h2><i class="fa fa-{{section['logo']}}"></i></h2>
      <h5>{{ section['equipo'] }}</h5>

      <div >
      <ul  class="browser-default">
      {% for p in section['personas'] %}
        <li  class="">{{p}}</li>
      {% endfor %}
      </ul>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
