.icon-block {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.icon-block p {
  min-height: 150px;
}

main h2 {
  margin-top: 0px;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .icon-block p {
    min-height: 200px;
  }
}

@media (max-width: 600px) {
  .icon-block p {
    min-height: inherit;
  }
}



divv {width: 100%; height: 100%; display: flex; align-items: center;}

i {margin: 0 auto;}

.fa-beat {
  -webkit-animation: fa-beat 1s infinite linear;
  animation: fa-beat 1s infinite linear;
}
@-webkit-keyframes fa-beat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes fa-beat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}