<footer class="page-footer {{ MALT_BASE_COLOR }} darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Por</h5>
                <p class="grey-text text-lighten-4">
                Alumnos de 2º de Medicina de @unizar
                </p>


            </div>
            <div class="col l3 offset-l3 s12">
                <h5 class="white-text">Social</h5>
                <ul class="social-links">
                {% for link in SOCIAL_LINKS %}
                    <li>
                        <a class="white-text" href="{{ link['href'] }}" title="{{ link['text']}}">
                            <i class="fa {{ link['icon'] }}"></i> {{ link['text'] }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
   
</footer>
